html {
  min-height: 100vh;
}

body {
  padding: 40px 0;
  background-image: linear-gradient(
    to right bottom,
    #171c24,
    #181e28,
    #1a212c,
    #1b2330,
    #1c2634,
    #1a2c44,
    #163154,
    #113764,
    #004086,
    #0548a7,
    #2a4ec7,
    #5050e5
  );
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  text-decoration: none;
}
